
/* Custom properties */
:root {
  --background: #f3f4f6;
  --dark-grey: #333333;
  --solid-black: #000000;
  --light-grey: #a9a9a9;
  --white: #ffffff;
  --blue-grey: #6a7282;
  --background-dark: #101828;
  --blue-dark: #1e2939;
}
/* ---------- */

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
/* ---------- */

html {
  font-size: 62.5%;
}
body {
  background-color: var(--background);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
}

.dark-mode {
  width: 4.8rem;
  height: 4.8rem;
}
.light-mode {
  width: 4.8rem;
  height: 4.8rem;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}
.header_text {
  font-weight: bold;
  font-size: 4.8rem;
  color: var(--dark-grey);
}
.theme-switch_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
  cursor: pointer;
}
.input-field {
  width: 51.9rem;
  height: 5.9rem;
  padding-left: 2rem;
  border-radius: 9px;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  border: none;
}
.input-field:focus {
  box-shadow: 0 1px 8px var(--solid-black);
}
.input-field[type="text"]::placeholder {
  color: var(--light-grey);
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
}
.light-input {
  caret-color: var(--light-grey);
  color: var(--light-grey);
  background-color: #364153;
}

.input-area {
  display: flex;
  gap: 3rem;
}
.add-task {
  width: 14.3rem;
  height: 5.9rem;
  background-color: var(--solid-black);
  color: var(--white);
  font-weight: bold;
  font-size: 2.4rem;
  border-radius: 9px;
  cursor: pointer;
  border: none;
}
.task-container_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.selfie_img {
  width: 66.6rem;
  height: 50rem;
}
.task-container_empty p {
  font-size: 2.4rem;
  font-style: italic;
  margin-left: -23rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.footer p {
  font-size: 2rem;
  color: var(--blue-grey);
}
.tasks-container {
  display: flex;
  flex-direction: column;

  height: 60rem;
  margin: 0 auto;
  /* overflow-y: scroll; */
}
.tasks-navigation {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 0rem;
  gap: 35rem;
}
.tasks-nav_p {
  font-size: 2rem;
  cursor: pointer;
}
.active-nav {
  color: var(--blue-grey);
}

.tasks-info_p {
  color: var(--blue-grey);
  font-size: 2rem;
}
.tasks-proper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  align-items: center;
}
.task {
  width: 68.9rem;
  height: 6.441rem;
  border-radius: 9px;
  box-shadow: 0 1px 3px var(--dark-grey);
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.task p {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.task-done p {
  text-decoration: line-through;
  text-decoration-color: var(--blue-dark);
}
.task-main {
  display: flex;
  gap: 3rem;
}

.checkbox[type="checkbox"] {
  margin-left: 3rem;
  cursor: pointer;
}
.functional-icons {
  display: flex;
  align-items: center;

  gap: 2rem;
}
.pencil-icon,
.trash-icon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}
.hidden {
  display: none;
}

@media (width<48em) {
  html {
    font-size: 40%;
  }
}
@media (width<29.5em) {
  html {
    font-size: 35%;
  }
}
@media (width<26.5625em) {
  html {
    font-size: 30%;
  }
}
@media (width<23.4375em) {
  html {
    font-size: 28%;
  }
}
